#Backups
backups/
# Environments
.vscode/
.env
.venv
.venv/
data/
logs/
env/
venv/
ENV/
env.bak/
venv.bak/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Temporary scripts
scratch/
