TELEGRAM_TOKEN="Your TELEGRAM Bot Token"
ALLOWED_USER_IDS="123456789, 987654321"
# Shared credentials for both databases
PORT="Your PORT Number"
HOST="Your HOST Name"
ROOT_DBNAME="Your ROOT DB Name"
# Current database credentials
DBNAME="Your Current DB Name"
USER="Your USER Name"
PASSWORD="Your PASSWORD"
# New database credentials
NEW_DBNAME="Your NEW DB Name"
ROOT_USER="Your ROOT USER Name"
ROOT_PASSWORD="Your ROOT PASSWORD"
MAIN_USER="Your MAIN USER Name"
MAIN_USER_PASSWORD="Your MAIN USER PASSWORD"
COMMON_USER="Your COMMON USER Name"
COMMON_USER_PASSWORD="Your COMMON USER PASSWORD"
READ_ONLY_USER="Your READ ONLY USER Name"
READ_ONLY_USER_PASSWORD="Your READ ONLY USER PASSWORD"

